@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@font-face {
	font-family: "HK Grotesk";
	src: url(hk-grotesk.woff2), url(hk-grotesk.woff);
}

@media only screen and (max-width: 1050px) {
	img#selfie {
		display: none;
  }

	#intro-selfie {
    display: block;
    position: absolute;
    top: 2em;
    margin: 0;
  }

  img#intro-selfie {
    margin: 0;
  }

  .small-intro-text {
    padding: 7em 0 5em 0;
  }

	header {
		display: none;
  }
  h5 {
    display: none;
  }
  #sun {
    display: none;
  }
  .front-page {
    padding: 0 13vw;
  }
  section.self {
    margin-top: 1vh;
    margin-bottom: 10vh;
  }
  nav {
    display: none;
  }
  section div {
    margin: -3em 0;
  }
}

@media only screen and (max-width: 462px) {
  .small-intro-text {
		vertical-align: middle;
		top: -20vh;
		margin: 0;
		padding: 0;
  }
  .front-page {
    padding: 0 0;
  }
  #intro-selfie {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .small-intro-text {
		top: -27vh;
  }
}

@media only screen and (max-width: 370px) {
  .small-intro-text {
		top: -35vh;
  }
}

@media only screen and (max-width: 320px) {
  .small-intro-text {
		top: -45vh;
  }
}

.small-intro-text {
	margin: 0 1em;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-10px);
	}
}

img#scroll-down {
	width: 40px;
	display: block;
	position: relative;
	top: 9rem;
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

h6 {
	display: none;
	text-align: center;
	font-size: 32pt;
}

body {
	font-family: "HK Grotesk", Arial;
	font-size: 32px;
	line-height: 1.25;
	background-color: #18191a;
	background-image: url("assets/stars.svg");
	color: #d3d1cf;
	max-width: 1120px;
	overflow-x: hidden;
	transition: background-color 1s;
	margin: 200px auto 200px auto;
}

p {
	font-family: "HK Grotesk";
	color: #e5745d;
	text-align: center;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

#intro-selfie {
	width: 400px;
	margin: 0 1em 0 2em;
}

h5 {
	font-size: 12pt;
	text-align: center;
}

nav {
	position: fixed;
	top: .7em;
	right: .7em;
	z-index: 2;
}

section {
	margin: 300px 0px 300px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

section:nth-child(odd) {
	flex-direction: row-reverse;
}

section div {
	padding: 40px;
	position: relative;
}

section img {
	position: relative;
}

div.stamps {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
}

div.stamps img {
	position: absolute;
	transform: translate(-50%, -50%);
	animation: spin 30s linear infinite;
}

.rounded-corners {
	border-radius: 2px;
}

#selfie {
	width: 500px;
}

.pic:hover {
	transform: scale(1.07);
}

#github {
	width: 38px;
}

#linkedin {
	width: 40px;
	padding-left: 1px;
	margin-top: -40px;
}

#gmail {
	width: 35px;
	padding-left: 1px;
	margin-top: -35px;
}

a {
	text-decoration: none;
	color: #d3d1cf;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #e5745d;
}

a:active {
	color: #d3d1cf;
}

#github-icon {
	width: 35px;
	height: auto;
}

#github-icon:hover {
	transform: scale(1.07);
	height: auto;
}

#selfie:hover {
	transform: scale(1.07);
}

h3 {
	font-size: 40pt;
	text-align: center;
	text-decoration: underline;
	margin-bottom: -3em;
}

h2 {
	font-size: 42pt;
	text-align: center;
}

header.scrolled {
	opacity: 0;
	transition: opacity 1.2s;
}

#intro {
	text-align: center;
}

#sun {
	width: 20vw;
	animation: spin 30s linear infinite;
}

#small-intro {
	text-align: center;
	font-size: 16pt;
}

.scroll {
	text-align: center;
	margin-top: -3em;
}

#contact-me:hover {
	color: #e5745d;
}
#contact-me {
	display: none;
}
