@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg);}
}

@font-face {
  font-family:  "HK Grotesk";
  src: url(hk-grotesk.woff2), url(hk-grotesk.woff);
}

@media only screen and (max-width: 1279px) {
  nav {
    display: none;
  }
  #github {
    display: none;
  }
  #linkedin {
    display: none;
  }
  #gmail {
    display:none
  }
  #selfie {
    display: block;
    flex-wrap: wrap;
  }
  h6 {
    display:block !important;
  }
}

@media only screen and (max-width: 990px) {
  body {
    padding: 0 20px 0 20px
  }
  h6 {
    display: block
  }
  nav {
    width: 0vw
  }
  section div {
    max-width: 350px;
    padding: 10vw 0 10vw 0;
  }
  section {
    padding: 0 0 0 0;
    margin: 0 0 0 0
  }

  section.self div {
    height: 100vh
  }

  h2 {
    margin: 0
  }
  .front-page {
    display: none
  }
  img#selfie {
    display: none;
  }
  #intro-selfie {
    display: none;
  }
  h5 {
    display: none;
  }
  header {
    display: none;
  }
  .self-container {
    height: 100vh;
  }
  .small-intro-text {
    position: relative;
  }
}

@media only screen and (max-width: 360px) {
  h6 {
    display:block !important;
  }
  .small-intro-text {
    vertical-align: middle;
    top: -15vh;
    margin: 0;
    padding: 0;
  }
  body {
    padding: 0;
    margin: 0;
  }

  section div {
    max-width: 290px;
    position: relative;
  }
  section {
    max-width: 290px;
    padding: 0 0 0 0;
    margin: 0 0 0 0
  }
  section.self {
    height: 100vh;
    padding: 0;
    margin: 0;
  }
}


@media only screen and (max-width: 414px) {
  h6 {
    display: inline-block;
  }
  .small-intro-text {
    vertical-align: middle;
    top: -10vh;
    margin: 0;
    padding: 0;
  }

  body {
    padding: 0;
    margin: 0;
  }

  section div {
    max-width: 350px;
    position: relative;
  }
  section {
    padding: 0;
    margin: 0
  }
  section.self {
    height: 100vh;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 411px) {
  h6 {
    display: block !important;
  }
  .small-intro-text {
    vertical-align: middle;
    top: -10vh;
    margin: 0;
    padding: 0;
  }

  body {
    padding: 0;
    margin: 0;
  }

  section div {
    max-width: 350px;
    position: relative;
  }
  section {
    padding: 0 0 0 0;
    margin: 0 0 0 0
  }
  section.self {
    height: 100vh;
    padding: 0;
    margin: 0;
  }
}

h6 {
  display: none;
  text-align: center;
  font-size: 32pt;
}

body {
	font-family: "HK Grotesk", Arial;
	font-size: 32px;
	line-height: 1.25;
  background-color: #18191a;
  background-image: url('assets/stars.svg');
  color: #d3d1cf;
	max-width: 1120px;
  overflow-x: hidden;
  transition: background-color 1s;
  margin: 200px auto 200px auto;
}

p {
  font-family: "HK Grotesk";
  color: #e5745d;
  text-align: center;
}

header {
  position: fixed;
  z-index: 1;
  opacity: .99;
  transition: opacity 1s;
  left: 50vw;
  top: 50vh;
}

#intro-selfie {
  width: 500px;
}

h5 {
  font-size: 12pt;
  text-align: center;
}

#right {
  right: 4em
}

nav {
  position: fixed;
  top: -2em;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 15pt;
  float: right;
  height: 38vh;
  width: 5vw;
  z-index: 2;
}

section {
  margin: 300px 0px 300px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

section:nth-child(odd) {
  flex-direction: row-reverse;
}

section div {
  padding: 40px;
  position: relative;
}

section img {
  position: relative;
}

div.stamps {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
}

div.stamps img {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: spin 30s linear infinite;
}

.rounded-corners {
  border-radius: 2px;
}

#selfie {
  transform: rotate(180deg);
  width: 500px
}

.pic:hover {
  transform: scale(1.07)
}

#github {
  width: 38px;
}

#linkedin {
  width: 40px;
  padding-left: 1px;
  margin-top: -40px
}

#gmail {
  width: 35px;
  padding-left: 1px;
  margin-top: -35px;
}

#resume {
  padding-top: 1em;
  padding-right: 2em
}

a {
  text-decoration: none;
  color: #d3d1cf;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #e5745d;
}

a:active {
  color: #d3d1cf
}

#github-icon {
  width: 35px;
  height: auto;
}

#github-icon:hover {
  transform: scale(1.07);
  height: auto;
}

.git-align {
  display: block;
  padding: -1em;
}

#selfie:hover{
  transform: scale(1.07);
}

h3 {
 font-size: 40pt;
 text-align: center;
 text-decoration: underline
}

h2 {
  font-size: 42pt;
  text-align: center;
}

header.scrolled {
  opacity: .0;
}

#intro {
  text-align: center;
}

#sun {
  width: 300px;
  transform: translate(-50%, -50%);
  animation: spin 30s linear infinite;
}

.sun-container {
  left: auto;
  right: auto;
}

#small-intro {
  text-align: center;
  font-size: 16pt;
}

.scroll{
  text-align: center;
  margin-top: -3em;
}

.front-page {
  height: 50vh;
}

#contact-me:hover {
  color:#e5745d
}
#contact-me {
  display:none;
}
